.bomBuilder {
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

/* Add Item Button */
.addItemButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(46, 204, 113, 0.3);
}

.addItemButton:hover {
  background-color: #27ae60;
  transform: translateY(-2px);
}

/* Search Container */
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Search Input */
.searchInput {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-bottom: -15px;
}

.searchInput:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.bomBuilder h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.bomBuilder p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}



.addButton {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
}

/* Components Table */
.componentsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.componentsTable th,
.componentsTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.componentsTable th {
  background-color: #f3f3f3;
  font-weight: bold;
}
.noData {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  color: #999;
}

/* Add Component Form */
.addComponentForm {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.addComponentForm input {
  flex: 1;
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.addComponentForm input:focus {
  border-color: #007bff;
}

/* Icon styles */
.editIcon,
.deleteIcon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #3498db;
  gap: 2px;
  transition: color 0.3s ease;
}

.editIcon:hover {
  color: #2980b9;
}

.deleteIcon {
  color: #e74c3c;
}


.searchInputQuery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .bomBuilder {
    max-width: 100%;
    padding: 15px;
  }
  .addItemButton{
    width: 100%; /* Make button full width */
    padding: 12px 20px;
    font-size: 1rem;
  }
  .bomBuilder h2 {
    font-size: 1.2rem;
  }

  .bomBuilder p {
    font-size: 0.8rem;
  }

  .tableContainer {
    overflow-x: auto; /* Enable horizontal scrolling on mobile */
  }

  .formGroup label,
  .formGroup input,
  .bomBuilder select {
    font-size: 0.85rem;
  }

  .componentsTable th,
  .componentsTable td {
    padding: 8px;
    font-size: 0.85rem;
  }

  .addButton {
    padding: 5px;
    font-size: 0.85rem;
  }

  .addComponentForm {
    flex-direction: column;
  }

  .addComponentForm input {
    width: 94%;
    margin-bottom: 10px;
  }

  .modalContent {
    padding: 20px;
  }

  .modalContent h2 {
    font-size: 1.5rem;
  }

  .modalContent input {
    width: 100%;
  }

  .modalContent button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .searchContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .searchInput {
    width: 96%;
    margin-bottom: 10px;
  }
}
